
<div id="landing-header">
	<h1 id="title">Welcome to Yelpcamp</h1>
	<a class="btn btn-primary" href="/campgrounds">View all campgrounds</a>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
