<div class="container">
  <h3 class="title">Sign In</h3>
  <div class="jumbotron">
    <form class="form-horizontal" action="/users" method="POST">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 align-right">
          <button type="submit" class="btn btn-success">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.getElementById('login-nav').classList.add('active');
</script>